<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- navbar -->
     <nav class="navbar">
        <div id="logo">
            <a href="../../index.html">
                <img src="../img/logo.png" alt="" height="45px" width="45px">
            </a>
        </div>
        
        <div>
            <a href="" class="opciones">quienes somos</a>
            <a href="../views/formulario.html" class="opciones">registrate</a>
            <a href="" class="opciones">noticias</a>
            <a href="" class="opciones">tienda</a>
        </div>
        
        <div>
            <a href="" id="buscador">
                <img src="../img/buscador.png" alt="" height="20px" width="20px">
            </a>
        </div>
    </nav>
            
    <!-- header -->
    <header>
        <div>
            <h1>TODAS LAS NOVEDADES DEL HANDBALL ARGENTINO</h1>
         </div>
    </header>
    <!-- main -->
<main class="qs">
    <h2 id="qstitulo">¿Quiénes somos?</h2>
    <img src="../img/quienessomos1.PNG" alt="" height="300" width="500">
    <p id="qsp">Bienvenidos a "Handball Argentina", tu fuente definitiva para todo lo relacionado con el apasionante mundo del handball en Argentina. Somos una plataforma dedicada a promover, informar y celebrar el handball argentino en todas sus facetas. <br>
        En "Handball Argentina", nos enorgullece ser el epicentro virtual donde jugadores, entrenadores, aficionados y amantes del deporte se encuentran para compartir su pasión por el handball. Somos más que una página web; somos una comunidad vibrante que celebra el espíritu competitivo y colaborativo que define a nuestro amado deporte. <br>
        ¿Quiénes somos? Somos un equipo comprometido de entusiastas del handball, compuesto por jugadores veteranos, entrenadores experimentados y apasionados seguidores que comparten un objetivo común: hacer crecer y fortalecer la presencia del handball argentino en todo el país. <br>
        En nuestro sitio, encontrarás información detallada sobre ligas locales, resultados de partidos, perfiles de jugadores destacados, entrevistas exclusivas con entrenadores y análisis profundos de las tácticas de juego. Además, ofrecemos cobertura en tiempo real de los eventos más destacados del handball argentino, manteniéndote siempre al tanto de las últimas novedades y emociones del deporte.</p>
</main>
</body>
</html>